@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Iman's App</h1>
    <p>This is a training tutorial on DevOps. Github profile of developer, <a href="https://www.github.com/imanz7"> Iman Zahurin.</a>.</p>
</div>
